.homeholder{
    display: flex;
    width: 100%;
    position:relative;
    font-family: 'Lato';
    background-image: url('../../images/frfrbg.png');
    background-size: cover;

}

.diff-color{
    color: #406580;
}

.textholder{
    display: block;
    width: 860px;
}


.title{
    text-align: center;
    font-size: 36px;
    position: absolute;
    top: 30%;
    left: 15%;
    color: rgb(0, 78, 134);

}

.description{
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 55%;
    left: 15%;
    color: rgb(0, 78, 134);
}

.picofme{
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 200px;
    padding-right: 100px;
    
}

.me{
    height: 300px;
    width: auto;
    border-radius: 50%;
}

.cloud{
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 220px;
    top: 62%;
    right: 10%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.cloud:hover{
    animation: wobble 2s;

}



   