.experienceholder{
  font-family: 'Lato';
}

.intro{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: rgb(53, 114, 158);
}

.experience-heading{
    padding-top: 60px;
    text-align: center;
    font-size: 36px;
    color: rgb(0, 78, 134);
}



